.banner{
    background: url(../images/banner.png) no-repeat center/cover;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 100%;
    }
    &Content{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: $secondary;
        padding-right: 15px;
    }
    &Title{
        font-weight: bold;
    }
}
// ----------------------專業---------------------------
.specialty{
    background-color: $red-100;
    padding: 60px 0 80px 0;
    color: $secondary;
    &Title{
        text-align: center;
        margin-bottom: 40px;
        font-weight: bold;
    }
    &Content{
        display: flex;
    }
    &Card{
        width: 255px;
        text-align: center;
        display: block;
        margin:0 15px;
        img{
            width: 100px;
            height: 100px;
            padding: 8px;
        }
        h3{
            margin: 16px 0 8px;
            font-weight: bold;
        }
        p{
            text-align: left;
            color: #000;
        }

    }
}
// ----------------------經典鏡框---------------------------
.classic{
    padding: 60px 0 48px 0;
    font-weight: bold;
    color:$secondary;
    &Title{
        text-align: center;
        margin-bottom: 40px;
    }
    &Content{
        padding: 0 15px;
    }
    &Card{
        color:$primary;
        font-style: italic;
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        &.reverse{
            flex-direction: row-reverse;
        }
        img{
            width:635px ;
        }
        h3{
            padding: 0 30px;
            display: flex;
            align-items: center;
            .material-icons{
                font-size: 44px;
                margin-right: 8px;
            }
        }
    }
}
// ----------------------設計鏡框---------------------------
.design{
    background: url(../images/bg.png) no-repeat center/cover;
    padding-top: 60px;
    padding-bottom: 80px;
    &Title{
        color:#fff;
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
    }
    &Content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }
    &Card{
        width: 540px;
    }
    &Pic{
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 455px;
        &.bg01{
            background: url(../images/product-8.png) no-repeat center/cover;
        }
        &.bg02{
            background: url(../images/product-9.png) no-repeat center/cover;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(#fff, 1);
            opacity: 0.5;
            z-index: 2;
        }
        h3{
            font-weight: bold;
            color:$primary;
            z-index: 3;
        }
    }
}
// ----------------------顧客推薦---------------------------

.recommend{
    padding: 60px 0 80px 0;
    &Title{
        color:$secondary;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }
    &Content{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 15px;
    }
    &Card{
        width: 255px;
        border: 1px solid $gray-200;
        border-radius: 4px;
        box-shadow: 0px 2px 6px $gray-100;
    }
    &Pic{
        width: 255px;
        height: 255px;
        border-radius: 5px 5px 0 0;
        &.bg01{
            background: url(../images/rec-1.png) no-repeat center/cover;
        }
        &.bg02{
            background: url(../images/rec-2.png) no-repeat center/cover;
        }
        &.bg03{
            background: url(../images/rec-3.png) no-repeat center/cover;
        }
        &.bg04{
            background: url(../images/rec-4.png) no-repeat center/cover;
        }
    }
    &Flex{
        padding: 16px;
        height: 204px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

// ----------------------聯絡我們---------------------------

.contact{
    background-color:$red-100;
    padding: 60px 0 80px 0;
    &Content{
        width: 730px;
        margin: 0 auto;
    }
    &Title{
        margin-bottom: 24px;
        font-weight: bold;
        text-align: center;
    }
    &Form{
        display: flex;
        flex-direction: column;
        &Title{
            margin-bottom: 4px;
        }
    }
    &Input, &Textarea{
        background: transparent;
        border: 1px solid #000;
        padding: 12px 16px;
        margin-bottom: 16px;
    }
    .agree{
        display: flex;
        align-items: baseline;
        margin-bottom: 40px;
    }
    .btn{
        text-align: center;
        input{
            width: 350px;
            background: $primary;
            padding: 16px 0;
            color: $white;
            border: none;
            &:hover{
                background: $secondary;
                transition: all .3s;
            }
        }

    } 
}