.product{
    &Nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &Item{
        width: 350px;
    }
    &Link{
        color: $black;
        font-weight: bold;
        border: 1px solid #DCDCDC;
        padding: 27px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &Link.active{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            border-bottom:$primary 8px solid ;
        }
    }
    &Link.hover{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            width: 0%;
            border-bottom: 8px solid transparent;
            transition: all .4s;
        }
        &:hover::after{
            width: 100%;
            border-bottom:$primary 8px solid ;
        }
    }
    &Icon{
        font-size: 44px;
        margin-right: 10px;
    }
    &Banner{
        display: flex;
        align-items: center;
        .Pic01{
            width: 50%;
            height: 304px;
            background: url(../images/banner-1.png) no-repeat center/cover;
            background-size: cover;
        }
        .Pic02{
            width: 50%;
            height: 304px;
            background: url(../images/banner-2.png) no-repeat center/cover;
        }
    }
}

//-----------------產品-------------------------
.product{
    padding: 80px 0 160px 0;
    &Content{
        text-align: center;
    }
    &Title{
        font-weight: Medium;
    }
    &Subtitle{
        margin-bottom: 32px;
    }
    &Menu{
        display: flex;
        flex-wrap: wrap;
    }
    &Opcitalcard{
        width: 255px;
        margin:8px 15px 96px;
    }
    &Sunglassescard{
        width: 350px;
        margin:0 15px 104px;
        &.mb-0{
            margin-bottom: 0;
        }
    }
    &Info{
        display: flex;
        justify-content: space-between;
    }
    &Color{
        display: flex;
        .darkColor{
            width: 24px;
            height: 24px;
            background-color: $brown-800;
            border-radius: 4px;
            margin-right: 8px;
        }
        .lightColor{
            width: 24px;
            height: 24px;
            background-color: $brown-500;
            border-radius: 4px;
        }
    }
}

.OpcitalPic{
    height: 164px;
    &.bg01{
        background: url(../images/products-1.png) no-repeat center/cover; 
    }
    &.bg02{
        background: url(../images/products-7.jpg) no-repeat center/cover; 
    }
    &.bg03{
        background: url(../images/products-8.jpg) no-repeat center/cover; 
    }
    &.bg04{
        background: url(../images/products-9.jpg) no-repeat center/cover; 
    }
    &.bg05{
        background: url(../images/products-10.jpg) no-repeat center/cover; 
    }
    &.bg06{
        background: url(../images/products-12.jpg) no-repeat center/cover; 
    }
}



.SunglassesPic{
    height: 164px;
    &.bg01{
        background: url(../images/products-4.png) no-repeat center/cover; 
    }
    &.bg02{
        background: url(../images/products-3.png) no-repeat center/cover; 
    }
    &.bg03{
        background: url(../images/products-2.png) no-repeat center/cover; 
    }
    &.bg04{
        background: url(../images/products-6.jpg) no-repeat center/cover; 
    }
    &.bg05{
        background: url(../images/products-11.jpg) no-repeat center/cover; 
    }
    &.bg06{
        background: url(../images/products-5.jpg) no-repeat center/cover; 
    }
}










.pageBar{
    display: flex;
    justify-content: center;
    align-items: center;
    .Link{
        font-size: 19px;
        line-height: 29px;
        color: $gray-500;
        padding: 11px 16px 12px; 
        border: 1px solid $gray-500;
        &:hover{
            background: $gray-500;
            color: $white;
            transition: all 0.4s;
        }
    }
}



